
#navbar{
    height: 60px;  
    background-color: rgb(0,0,0) !important;
    background-color: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0.4514180672268907) 100%) !important;
}

.logo{
    height: 30px;
}

.carosuel-height{
height: 500px ;
}
.grey-filter{
    background-color: rgba(56, 56, 56, 0.534);
}